@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  color: #fff;
}

a{
  text-decoration: none;
  color: #fff;
}

.section{
  width: 100vw;
  height: 100vh;
  padding: 3rem;
}

.hero__section{
  background-image: url("Images/Hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}

.nav__btn{
  display: none;
}

.nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul a{
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem; 
  padding: 5px 0;
  transition: color 0.3s ease;
}

ul a:hover, 
.icons:hover {
  color: #4f46e5;
}

ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #4f46e5;
  transition: width 0.3s ease;
}

ul a:hover::after {
  width: 100%;
}


li{
  padding: 1.2rem;
}

.icons{
  padding: .9rem;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.user__ads{
  display: flex;
  align-items: center;
  margin-top: 80px;
  gap: 5px;
  margin-bottom: 20px;
}

.image-line {
  display: flex;
  align-items: center;
}

.image-line img {
  width: 30px;
  height: 30px;
  border-radius: 50%;     /* makes it a circle */
  object-fit: cover;
  margin-left: -7px;     /* overlap effect */
}

/* First image should not shift left */
.image-line img:first-child {
  margin-left: 0;
}

.user__ads > p{
  font-size: 12px;
  color: #bebdb7;
}

.hero__content h1{
  font-size: 60px;
  font-weight: 500;
}

.hero__content p{
  font-size: 13px;
  color: #bebdb7;
  margin-bottom: 15px;
}

.start__btn{
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  /* background-color: #4f46e5; */
  color: #52ad8f;
  transition: 
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.start__btn:hover{
  background-color: #4f46e5; 
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



@media (max-width: 1000px){
 
}