@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  color: #fff;
}

.section{
  width: 100vw;
  height: 100vh;
  padding: 3rem;
}

.hero__section{
  background-image: url("Images/Hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 2px;
}

.nav__btn{
  display: none;
}